body{
    background: linear-gradient(to left, #FFD700, #40E0D0);
}
.encabezado {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Gill Sans', sans-serif;
}
.imagen1 {
    width: 210px;
    height: 150px;
    border: 2px transparent #000000;
    position: absolute ;
    left: 150px;
    top: 10px
}

.imagen2 {
    width: 210px;
    height: 150px;
    border: 2px transparent #000000;
    position: absolute ;
    right: 150px;
    top: 10px
}
.imagen3 {
    width: 210px;
    height: 150px;
    border: 2px transparent #000000;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: 55px;

}

.ingreso input{
    font-weight: bolder;
    background: #a8befc;
    color: #000000;
    border: 5px solid #002fff;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
    
}
.ingreso label {
    font-weight: bolder;
    font-size: 26px;
    padding: 10px;
    
}
.calcular button{
    color: #ffffff;
    background-color: #800080;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 26px;
    font-weight: bolder;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-left: 400px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    height: 100px;
}